.box{
  margin-top: 2em;
  border: 2px solid #bbb;
  text-align: center;
  height: 400px;
}

.box-number{
  margin-top: 10px;
  padding: 0 60px;
  border: 1px solid #bbb;
}
.box-number div{
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
  background-color: #ff4400;
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
}
.btn{
  font-family: "微软雅黑";
  background-color: #ffffaa;
  border:2px solid #ccc;
  border-radius: 3px;
  color: #aaa;
}
#inputarea{
  width: 200px;
  height: 100px;
}
